*,
*::before,
*::after {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Work+Sans&display=swap");

body {
  background-color: black;
  font-family: "IBM Plex Mono", monospace;
}

.nav ul > :first-child {
  grid-column-start: 2;
}

.nav ul {
  list-style-type: none;
  font-size: 1.5em;
  color: white;
  margin: 0;
  padding: 40px 0;
  display: grid;
  grid-template-columns: auto repeat(3, 150px);
}

.nav a {
  color: white;
  text-decoration: none;
}

main {
  display: block;
}

.hero {
  padding-left: 5%;
  padding-right: 5%;
  height: 450px;
  color: white;
  font-size: 4em;
  display: grid;
  grid-template-columns: 100px 1fr 1fr 100px;
}

.introtext {
  grid-column-start: 2;
  grid-column: 2 / 4;
}

.about {
  grid-column-start: 3;
  grid-row: 2;
  font-size: 0.3em;
  font-weight: lighter;
  line-height: 1.6em;
}

.about li {
  list-style-type: none;
}

h1 {
  font-weight: lighter;
  font-size: 1.1em;
}
